body {
  font-family: "Press Start 2P", serif;
  background-color: #6f6d6d;
}
#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
#gameScreen {
  border: 3px solid black;
}
img {
  display: none;
}
